
        body {
            background-color:#FFFFFF;
        }
      table {
     width="40%";
     margin: auto;
        }
        td {
            text-align: center;
        }
       h1 {  text-align: center;
            color:#FF0000;
       }
          h3{
            color:#000000;
             
               text-align: center;
          }
        
          h2{
            color:#DC143C;
             
               text-align: left
;
          }
        td.menu {font-size:x-large;
            text-align: center;
            background:#3CB371;
        }
            td.menu:hover {
                background:	#2E8B57 ;
            }
            td.text  {
            text-align: center;
           
        }
